.title-banner {
  margin-top: 0;
  padding: 15px;
  background-color: $poster-purple;
}

.attl-poster {
  height: 80vh;
  margin-top: 1.46rem;
  float: right;
}

.main-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.showtimes-container {
  margin-bottom: 30px;
}

.showtimes-table {
  width: 85%;
  margin: 0 auto 0 auto;
}

.showtimes-td {
  padding: 5px 5px;
}

ng-map {
  width: 100%;
}

.home-section-story {
  background-color: $poster-purple-dark;

  p {
    font-weight: lighter;
    text-align: justify;
    padding: 10px;
  }
}

.map-container {

  p {
    margin-bottom: 10px;
    text-align: center;
  }
}

.gallery-thumbnail-box {
  width: 10vw;
  height: 10vw;
  margin: 1%;
  display: inline-block;
}

.gallery-thumbnail {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: inline-block;
  overflow: hidden;
}

.gallery-photo-container {
  width: 44vw;
}

.gallery-photo {
  width: 100%;
}

.home-section-actors {
  background-color: $poster-purple-dark;
  margin-bottom: 0;
}

.actor-bio {
  max-height: 300px;
  overflow-y: scroll;
}
